<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Спорта и комманды</th>
        <th>Название в БК</th>
        <th>Запрос</th>
        <th>Проверка</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table; let i = index">
        <td>{{i + 1}}</td>
        <ng-container *ngFor="let cell of row; let u = index">
          <ng-container *ngIf="u < 3">
            <td [ngClass]="{green: u === 2 && (row[5] === true || row[5] === null), red: u === 2 && row[5] === false}">
              <div>
                <ng-container *ngIf="u !== 2 || row[5] === true || row[5] === null">{{cell || '-'}}</ng-container>
                <ng-container *ngIf="u === 2 && row[5] === false"><strike>{{cell || '-'}}</strike></ng-container>
              </div>
              <ng-container *ngIf="u === 2 && row[5] === false">
                <div>{{row[4] || '-'}}</div>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngIf="u === 4">
            <td [ngClass]="{red: row[2] && !row[3]}">{{row[3] || '-'}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
